@font-face {
    font-family: 'belwe';
    src: url('/assets/fonts/belwe.otf');
}
@font-face {
    font-family: 'treamd';
    src: url('/assets/fonts/Treamd.ttf');
}
.fontPreload {
    font-family: 'belwe';
    position: absolute;
    left: -100px;
}
.fontPreloadTreamd {
    font-family: 'treamd';
    position: absolute;
    left: -100px;
}
* {
    font-family: belwe;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}
#game {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
#game canvas {
    display: block;
}
.game_input {
    position: absolute;
    padding-left: 3px;
    width: 10px;
    background: transparent;
    border: none;
    display: inline;
    color: white;
    left: -100px;
    top: -100px;
}

.game_input:focus {
    border: 1px dotted black;
    background-color: rgba(0,0,0,0.5);
    outline: none;
}

.danger {
    color: red;
    font-weight: bold;
}